<div class="login-forgot">
  <div class="text-center mb-10 mb-lg-20">
    <h3 class="">کلمه عبور خود را فراموش کرده اید؟</h3>
    <p class="text-muted font-weight-bold">ایمیل تان را وارد کنید تا پسوردتان ریست شود</p>
  </div>

  <form class="form text-left" id="kt_login_forgot_form">
    <! -----------------------------------  Email Input Starts Here ----------------------------------->
    <div class="form-group py-2 m-0 border-bottom">
      <input
        class="form-control h-auto border-0 px-0 placeholder-dark-75"
        type="text"
        placeholder="آدرس ایمیل"
        name="email"
        autocomplete="off">

      <small class="text-danger">آدرس ایمیل وارد شده معتبر نمی باشد</small>
    </div>


    <div class="form-group d-flex flex-wrap flex-center mt-10">

      <a routerLink="/auth/login"
         class="btn btn-outline-primary btn-pill font-weight-bold px-9 py-4 my-3 mx-2">
        لغو
      </a>

      <button
        class="btn btn-primary btn-pill font-weight-bold px-9 py-4 my-3 mx-2">
        ارسال
      </button>

    </div>
  </form>
</div>
