<div id="kt_header_mobile" class="header-mobile align-items-center  header-mobile-fixed " >
    <a href="index.html">
        <img alt="Logo" src="" class="img-fluid" width="60px">
    </a>
    <div class="d-flex align-items-center">
        <button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
            <span></span>
        </button>
    </div>
</div>

<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        <admin-sidebar></admin-sidebar>
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <div class="subheader py-2 py-lg-6  subheader-solid " id="kt_subheader">
                    <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                        <div class="d-flex align-items-center flex-wrap mr-1">
                            <div class="d-flex align-items-baseline flex-wrap mr-5">
                                <h5 class="text-dark font-weight-bold my-1 mr-5">
                                  ggggggggggggggggggggggggggd
                                </h5>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex align-items-baseline flex-wrap mr-5">
                                <a href="" class="btn btn-outline-primary mx-2">
                                    <i class="fas fa-user-cog"></i>   پنل مشتری
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column-fluid">
                  fg
                </div>
           
           <admin-footer></admin-footer>
        </div>
    </div>
</div>